/* global styles */

@import url('https://fonts.googleapis.com/css?family=Bungee+Inline');

/*********************body styles  ******************/
/* make the bg light purple  */
body {
  background-color: #E2D6D7;
  margin: 0;
}

/********************* header and footer styles *********************/

header, footer {
  background-image: linear-gradient(rgba(42,15,45,0.6), rgba(42,15,45,0.8));
  height: 100px;
  position: relative;
  text-align: center;
}

header > p {
  display: inline-block;
  /* position: absolute; */
  margin: auto auto auto auto;
  top: 25%;
  vertical-align: middle;
  line-height: 100px;
  color: white;
  font-size: 200%;
  font-family: 'Bungee Inline', cursive;
}

/********************* body styles *********************/

.content-wrap {
  margin: 0 auto;
  padding: 50px;
  overflow: hidden;
  max-width: 930px;
  background-color: grey;
}

/* images */

.img-wrap {
  min-height: 630px;
}

.img-wrap > div, .img-wrap > img {
  display: inline-block;
  max-width: 450px;
  background-size: cover;
  margin: 5px;
}

.img-wrap > div {
  width: 450px;
  height: 300px;
}

.img-1 {
  background: linear-gradient(rgba(42,15,45,0.5), rgba(42,15,45,0.8)), url("../images/tree.jpg") no-repeat;
}

.img-2 {
  background: linear-gradient(rgba(42,15,45,0.5), rgba(42,15,45,0.8)), url("../images/city.jpg") no-repeat;
}

.img-wrap > img {
  background: #ccc;
}

/* button bar */

.buttons {
  position: relative;
  height: 100px;
  max-width: 180px;
  margin: 0 auto;
}

.btn {
  background-image: radial-gradient(#be0c5e, black);
  border: none;
  color: white;
  padding: 15px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 20%;
}
