/* global styles */

@import url('https://fonts.googleapis.com/css?family=Bungee+Inline');

/*********************body styles  ******************/
/* make the bg light purple  */
body {
  background-color: #EFD5E3;
  /* background-color: #0A0000; */
  margin: 0;
}

/********************* header and footer styles *********************/

footer {
  background-image: linear-gradient(rgba(42,15,45,0.6), rgba(42,15,45,0.8));
  height: 15vh;
  position: relative;
}
header {
  height: 15vh;
}

.header-grid {
  display: grid;
  width: 80%;
  height: 15vh;
  margin: auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 8vw;
  text-align: center;
}

.Z, .O, .O2, .M {
  height: 12vh;
  margin: auto 0;
  font-family: 'Bungee Inline', cursive;
  font-size: 4vw;
  color: white;
  /* overflow: hidden; */
}

.Z {
  transform: translateY(-1vh);
  background-color: #813772;
}

.O {
  transform: translateY(4vh);
  background-color: #191717;
}

.O2 {
  background-color: #C4300B;
}

.M {
  transform: translateY(2vh);
  background-color: #2B4141;
}

p {
  margin: auto;
  line-height: 12vh;
  color: white;

}

/********************* body styles *********************/

.content-wrap {
  padding: 15vh 0;
  margin: 0 auto;
  overflow: hidden;
  width: 100vw;
}

/* meme */
.meme-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 75vw;
  height: 44vw;
}

.meme {
  width: 52vw;
  height: 37.1vw;
}

/* images */
.img-color-wrap {
  background-color: #211228;
  padding-left: 2vw;
  padding: 1vh 0;
  margin: 5vh 0;
  min-height: 630px;
}
.img-wrap {
  width: 75vw;
  margin: auto;
  margin-top: 1vh;
}

.img-wrap > img {
  display: inline-block;
  width: 48vw;
  height: 32vw;
  margin: auto;
}

.img-wrap > div {
  display: inline-block;
  width: 24vw;
  height: 16vw;
  font-size: 3vw;
  margin: auto;
  text-align: center;
  margin-bottom: 2vh;
  color: #FFBBAA;
}


/* button bar */

.button-wrap {
  position: relative;
  height: 20vh;
  margin: auto;
}
.buttons {
  width: 52vw;
  padding-left: 1vw;
  top: 20%;
  margin: 0 auto;
}

.elem {
  background-image: radial-gradient(#CC2800, #38160E);
  width: 18vw;
  height: 15vh;
  border: none;
  color: #FFBBAA;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px;
  cursor: pointer;
  border-radius: 20%;
}

.fas {
  font-size: 3vh;
  line-height: 15vh;
}

.elem:first-child {
  margin-right: 8vw;
}

/* arrow styles */
.arrow-wrap {
  position: relative;
  height: 12vh;
  margin: auto;
}

.arw {
  background-image: none;
}

.arw > .fas {
  cursor: default;
  line-height: 12vh;
  font-size: 6vh;
  color: #160505;
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

.arw:first-child > .fas {
  transform: rotate(-15deg);
}

.arw:last-child > .fas {
  transform: rotate(15deg);
}

/* grid-ball styles */
.ball-grid {
  width: 80vw;
  margin: 0 auto;
  height: 10vh;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.grid-block {
  background-color: #1E3F3F;
  z-index: 10;
}

.shape {
  height: 5vh;
  width: 5vh;
  margin: 2.4vh 1vh 0vh 1vh;
  background-color: #D62A00;
  border-radius: 50%;
  z-index: -1;
}
